<header class="site-header">


  <div class="wrapper">
    {%- assign page_paths = site.pages | where: "link", "tutorial" | map: "path" -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <div clas="boogie">
      <span style="float:left"><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></span>
      <span style="float:right"><a class="site-title" rel="author" href="{{ page.parent_path }}">{{ page.parent | escape }}</a></span>
    </div>
  </div>
  
</header>