---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  <h1>Technical Tutorials</h1>

    <ul class="post-list">
      {% assign topics = site.pages | where: "link", "tutorial" %}
      {%- for page in topics -%}
        <li>
          <span class="post-meta">{{ page.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ page.url | relative_url }}">
              {{ page.title | escape }}
            </a>
            <p>{{ page.excerpt | escape }}</p>
          </h3>
        </li>
      {%- endfor -%}

    </ul>


  <h1>Ben's Blog</h1>

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      <ul class="post-list">
        {%- for page in site.posts -%}
        <li>
          <span class="post-meta">{{ page.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ page.url | relative_url }}">
              {{ page.title | escape }}
            </a>
          </h3>
        </li>
        {%- endfor -%}

      </ul>

  {%- endif -%}

</div>

